<div class="well form-inline">

  <b>Name</b>
  <%= @client.name %><br>


  <b>Rfc</b>
  <%= @client.rfc %> <br>


  <b>Street</b>
  <%= @client.street %>   <br>


  <b>Num ext</b>
  <%= @client.num_ext %> <br>


  <b>Num int</b>
  <%= @client.num_int %> <br>


  <b>Suburb</b>
  <%= @client.suburb %> <br>


  <b>Township</b>
  <%= @client.township %> <br>


  <b>State</b>
  <%= @client.state %> <br>


  <b>Cp</b>
  <%= @client.cp %> <br>


</div>



