<table class="table table-bordered">
  <tr>
    <th>Folio</th>
    <th>Cliente</th>
    <th>RFC</th>
    <th>Subtotal</th>
    <% if !@rfc_user %>
        <th>I.V.A</th>
    <% else %>
    <th>Ret. I.V.A</th>
    <% end %>
    <th>Total</th>
    <th>Tipo de Pago</th>
    <th>Fecha de Pago</th>
    <th>PDF</th>
    <th>Email</th>
    <th>Cancelar</th>
  </tr>
  <% @resumes.each do |resume| %>
      <% @folio_detail_id = FolioDetail.find(Invoice.find(resume.invoice_id).folio_detail_id).folio_detail_id %>
      <% @folio_detail_id = FolioDetail.find(Invoice.find(resume.invoice_id).folio_detail_id).folio_detail_id %>
      <% if Invoice.find(resume.invoice_id).status == 0 %>
          <tr style="background-color: #F5A9A9">
      <% else %>
          <tr>
      <% end %>
      <td><%= @folio_detail_id %></td>
      <td><%= Client.find(Invoice.find(resume.invoice_id).client_id).name %></td>
      <td><%= Client.find(Invoice.find(resume.invoice_id).client_id).rfc %></td>
      <% if !@rfc_user %>
          <td><%= number_to_currency(resume.subtotal, :unit => "$") %></td>
          <td><%= number_to_currency(resume.iva, :unit => "$") %></td>
      <% else %>
      <td><%= number_to_currency(resume.subtotal+resume.iva, :unit => "$") %></td>
      <td><%= number_to_currency(resume.ret_iva, :unit => "$") %></td>
      <% end %>
      <td><%= number_to_currency(resume.total, :unit => "$") %></td>
      <td><%= resume.payment_condition %></td>
      <td><%= Invoice.find(resume.invoice_id).date.strftime("%d-%m-%Y") %></td>
      <td><%= link_to 'PDF', resume_path(resume.id, :format => 'pdf'), :class => 'btn btn-mini btn-info', :target => '_blank' %></td>
      <% @folio_activo = Folio.find(:all, :conditions => {'user_id' => current_user.id, 'activo' => 1}) %>
      <% if (@folio_activo[0].initiation <= @folio_detail_id && @folio_detail_id <= @folio_activo[0].finish) && Invoice.find(resume.invoice_id).status != 0 %>
          <td><%= button_to 'Enviar', resume_path(resume.id), :action => :send_email, :confirm => '¿Estas seguro que deseeas enviar la Factura?', :class => 'btn btn-mini btn-warning' %></td>
          <td> <%= link_to 'Cancelar', invoice_path(Invoice.find(resume.invoice_id)), :method => :delete, :confirm => '¿Estas seguro?', :class => 'btn btn-mini btn-danger' %> </td>
      <% end %>
      </tr>
  <% end %>
</table>
<div class="pagination">
  <%= will_paginate @resumes %>
</div>



